body {
    margin: 0;
    background-image: url(https://www.wowpatterns.com/assets/files/resource_images/watercolor-samosa-drawing-pattern-seamless-indian-food-texture.jpg);
}

.container {
    font-family: 'Roboto Mono',monospace;
    text-align: center;
    color: #F6F2F4;
}

.main-game {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: #61B8EF;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: #FF8787;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: #F4F87C;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: #7CF8AC;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.9;
}